In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
# Getting data
data = pd.read_excel("SBA Table of Size Standards_Effective Aug 19, 2019.xlsx", sheet_name = 'table_of_size_standards-all')

In [3]:
data

,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,1,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,1,NaN,NaN
4,111130,Dry Pea and Bean Farming,1,NaN,NaN
...,...,...,...,...,...
1144,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN
1145,813940,Political Organizations,8,NaN,NaN
1146,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN
1147,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 19
1148,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [4]:
# use head function to check top 5 roll
data.head()

,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,1,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,1,NaN,NaN
4,111130,Dry Pea and Bean Farming,1,NaN,NaN

In [5]:
# use tail function to check bottom 5 roll

data.tail()

,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
1144,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN
1145,813940,Political Organizations,8,NaN,NaN
1146,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN
1147,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 19
1148,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [6]:
#use the info function to check for summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149 entries, 0 to 1148
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             1126 non-null   object
 1   NAICS Industry Description              1060 non-null   object
 2   Size Standards
in millions of dollars  532 non-null    object
 3   Size standards in number of employees   505 non-null    float64
 4   Footnotes                               39 non-null     object
dtypes: float64(1), object(4)
memory usage: 45.0+ KB

In [8]:
#check for nall columns using the isnall function
#count using the sum function

data.isnull().sum()

NAICS Codes                                  23
NAICS Industry Description                   89
Size Standards \nin millions of dollars     617
Size standards in number of employees       644
Footnotes                                  1110
dtype: int64

In [12]:
#selecting only the relevent reccords
data = data [data['NAICS Codes'].isnull()]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149 entries, 0 to 1148
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             1126 non-null   object
 1   NAICS Industry Description              1060 non-null   object
 2   Size Standards
in millions of dollars  532 non-null    object
 3   Size standards in number of employees   505 non-null    float64
 4   Footnotes                               39 non-null     object
dtypes: float64(1), object(4)
memory usage: 45.0+ KB

In [13]:
data.head()

,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
103,NaN,Sector 22 – Utilities,NaN,NaN,NaN
119,NaN,Sector 23 – Construction,NaN,NaN,NaN
156,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN

In [15]:
#

data['LookupCodes']= data ['NAICS Industry Description'].str.slice(start= 7,stop= 9)

C:\Users\mr-g-\AppData\Local\Temp/ipykernel_11132/2223303753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['LookupCodes']= data ['NAICS Industry Description'].str.slice(start= 7,stop= 9)

In [16]:
data.head()

,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,LookupCodes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21
103,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22
119,NaN,Sector 23 – Construction,NaN,NaN,NaN,23
156,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31

In [19]:
# checking for the length of the string
data['NAICS Industry Description'].str.len()

0        54
71       57
103      21
119      24
156      30
538      27
539     537
614      29
615     537
694      47
764      23
802      33
847      46
875      59
932      51
936      81
984      32
1004     45
1048     46
1077     43
1095     26
1147     33
1148    284
Name: NAICS Industry Description, dtype: int64

In [20]:
data['Sector']= data ['NAICS Industry Description'].str.slice(start= 12,stop= 538)

C:\Users\mr-g-\AppData\Local\Temp/ipykernel_11132/1944754165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sector']= data ['NAICS Industry Description'].str.slice(start= 12,stop= 538)

In [21]:
data.head()

,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,LookupCodes,Sector
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
103,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
119,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
156,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,33 – Manufacturing

In [40]:
data = data [['NAICS Industry Description', 'LookupCodes', 'Sector',]]

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1148
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NAICS Industry Description  23 non-null     object
 1   LookupCodes                 23 non-null     object
 2   Sector                      23 non-null     object
dtypes: object(3)
memory usage: 736.0+ bytes

In [26]:
data

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
103,Sector 22 – Utilities,22,Utilities
119,Sector 23 – Construction,23,Construction
156,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
538,Sector 42 – Wholesale Trade,42,Wholesale Trade
539,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
614,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
615,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
694,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
764,Sector 51 – Information,51,Information
802,Sector 52 – Finance and Insurance,52,Finance and Insurance
847,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
875,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
932,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
936,"Sector 56 – Administrative and Support, Waste ...",56,"Administrative and Support, Waste Management a..."
984,Sector 61 – Educational Services,61,Educational Services
1004,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1048,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1077,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1095,Sector 81 – Other Services,81,Other Services
1147,Sector 92 – Public Administration,92,Public Administration
1148,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [27]:
#  only intersested in the colums where lookupCodes == to a numeric value
data[data['LookupCodes'].str.isnumeric()]

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
103,Sector 22 – Utilities,22,Utilities
119,Sector 23 – Construction,23,Construction
156,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
538,Sector 42 – Wholesale Trade,42,Wholesale Trade
614,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
694,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
764,Sector 51 – Information,51,Information
802,Sector 52 – Finance and Insurance,52,Finance and Insurance
847,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
875,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
932,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
936,"Sector 56 – Administrative and Support, Waste ...",56,"Administrative and Support, Waste Management a..."
984,Sector 61 – Educational Services,61,Educational Services
1004,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1048,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1077,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1095,Sector 81 – Other Services,81,Other Services
1147,Sector 92 – Public Administration,92,Public Administration

In [28]:
#  only intersested in the colums where lookupCodes == to a numeric value
data = data[data['LookupCodes'].str.isnumeric()]

In [38]:
# replacing some value in sector
data.loc[data['Sector']== '33 – Manufacturing','Sector'] = 'Manufacturing'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [34]:
# using numpy to replace retail trade and Transportation and Warehousing
data['Sector'] = np.where(data['Sector'] == '45 – Retail Trade', 'Retail trade', data['Sector'])
data['Sector'] = np.where(data['Sector'] == '49 – Transportation and Warehousing', 'Transportation and Warehousing', data['Sector'])

C:\Users\mr-g-\AppData\Local\Temp/ipykernel_11132/3829544312.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sector'] = np.where(data['Sector'] == '45 – Retail Trade', 'Retail trade', data['Sector'])
C:\Users\mr-g-\AppData\Local\Temp/ipykernel_11132/3829544312.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sector'] = np.where(data['Sector'] == '49 – Transportation and Warehousing', 'Transportation and Warehousing', data['Sector'])

In [41]:
data

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
103,Sector 22 – Utilities,22,Utilities
119,Sector 23 – Construction,23,Construction
156,Sector 31 – 33 – Manufacturing,31,Manufacturing
538,Sector 42 – Wholesale Trade,42,Wholesale Trade
614,Sector 44 - 45 – Retail Trade,44,Retail trade
694,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
764,Sector 51 – Information,51,Information
802,Sector 52 – Finance and Insurance,52,Finance and Insurance
847,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
875,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
932,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
936,"Sector 56 – Administrative and Support, Waste ...",56,"Administrative and Support, Waste Management a..."
984,Sector 61 – Educational Services,61,Educational Services
1004,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1048,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1077,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1095,Sector 81 – Other Services,81,Other Services
1147,Sector 92 – Public Administration,92,Public Administration

In [42]:
data.loc [len(data.index)] = ['Sector 31 – 33 – Manufacturing',32, 'Manufacturing']
data.loc [len(data.index)] = ['Sector 31 – 33 – Manufacturing',33, 'Manufacturing']
data.loc [len(data.index)] = ['Sector 44 - 45 – Retail Trade' ,45, ' Retail Trade' ]
data.loc [len(data.index)] = ['Sector 48 - 49 – Transportation and Warehousing',49, 'Transportation and Warehousing']

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [43]:
data

,NAICS Industry Description,LookupCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
103,Sector 22 – Utilities,22,Utilities
119,Sector 23 – Construction,23,Construction
156,Sector 31 – 33 – Manufacturing,31,Manufacturing
538,Sector 42 – Wholesale Trade,42,Wholesale Trade
614,Sector 44 - 45 – Retail Trade,44,Retail trade
694,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
764,Sector 51 – Information,51,Information
802,Sector 52 – Finance and Insurance,52,Finance and Insurance
847,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
875,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
932,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
936,"Sector 56 – Administrative and Support, Waste ...",56,"Administrative and Support, Waste Management a..."
984,Sector 61 – Educational Services,61,Educational Services
1004,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1048,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1077,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1095,Sector 81 – Other Services,81,Other Services
1147,Sector 92 – Public Administration,92,Public Administration
20,Sector 31 – 33 – Manufacturing,32,Manufacturing
21,Sector 31 – 33 – Manufacturing,33,Manufacturing
22,Sector 44 - 45 – Retail Trade,45,Retail Trade
23,Sector 48 - 49 – Transportation and Warehousing,49,Transportation and Warehousing

In [44]:
data.to_csv('clean_data.csv', encoding = 'utf-8')

In [45]:
data.to_csv('clean_data_without_index.csv', encoding = 'utf-8', index = False)